button{
    border: none;
    margin: none;
    background-color: transparent;
    margin: 0 7px;
}
#delete{
    color: red;
}
#delete:disabled{
    color: #aaaaaa;
}
.disabled {
    color: #aaaaaa;
    cursor: ar;
    button{
        
        color: #aaaaaa;
    }
  }