<h1>Attendance Record of Student Id:-{{this.id}}</h1>
<br>
  <ng-container *ngIf="data">
    <p-table [value]="data" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Sl no</th> <!-- add your additional column header here -->
          <th>Date</th>
          <th>Attendance</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-i="rowIndex">
        <tr>
          <td>{{i+1}}</td> <!-- use rowIndex to display the Sl no -->
          <td>{{rowData.date}}</td>
          <td>{{checkPresent(rowData.date)}}</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>