div
{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    p{
        font-family: 'Gabriela', serif;
        font-size: 4vw;
        width: 25vw;
        text-align: center;
    }
}